@import "tailwindcss";

@theme {
    --color-primary: #283618;
    /* --color-dark-blue: #323a45; */
    --color-medium-blue: #3f6184;
    --color-dark: #323a45;
    --color-light-blue: #5faeb6;
    --color-light: #a8abab;

}